<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-25.25logger{25} | %L | %m%n" />
	<property name="APP_LOG_ROOT" value="logs" />
	<property name="APP_LOG" value="${APP_LOG_ROOT}/app_log.log" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="APP-LOG-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG}</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${APP_LOG_ROOT}/archived/app_log_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>


	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="APP-LOG-FILE-ROLLING" />
	</appender>

	<logger name="in.flyspark" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC" />
	</logger>

	<root level="error">
		<appender-ref ref="ASYNC" />
	</root>

</configuration>